@import "tailwindcss";

.button {
  @apply p-2 rounded-lg bg-gray-200 hover:bg-gray-300 
         transition cursor-pointer shadow-sm;
}
:global(.dark) .button {
  @apply bg-gray-700 hover:bg-gray-600;
}
