@import "tailwindcss";

.section {
  @apply pt-2 px-4 pb-4 flex grow w-full flex-col gap-4 overflow-y-auto;
}

.titleRow {
  @apply flex items-center justify-between gap-4;
}

.titleGroup {
  @apply flex items-center gap-3;
}

.titleIcon {
  @apply text-gray-500 text-lg mr-2;
}
:global(.dark) .titleIcon {
  @apply text-gray-300;
}


.title {
  @apply text-2xl font-semibold text-gray-900 grow;
}

:global(.dark) .title {
  @apply text-gray-100;
}


.actions {
  @apply flex items-center gap-3;
}

.content {
  @apply flex grow w-full overflow-y-auto flex-col
         border rounded-lg shadow-sm
         grid-rows-[auto_1fr]
         bg-white border-gray-300;
}

:global(.dark) .content {
  @apply bg-gray-900 border-gray-700;
}
